<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>관리자 페이지</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body style="text-align: center; margin-top: 100px;">
	<div class="sign_login_wrap admin">
		<h2 class="sign_login_Header">관리자 페이지</h2>
		<br>
		<hr />
		<br>
		<div>
			<br> <br> <br> <br> 모든 회원의 정보 <br> <br>
			<br>
		</div>
		<br>
		<hr />
		<div class="btn"></div>
		<button class="sign_login_Button" type="button"
			onclick="location.href='changemember'">회원 정보 변경</button>
		<br> <br>
		<button class="sign_login_Button" type="button"
			onclick="location.href='deletemember'">회원 탈퇴</button>
	</div>
</body>
</html>