<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>국어 문제집</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<div class="title_login_search">
		<img class="logo" src="img/logo/logo.png"> <span
			class="teamTitle indexTitle" onclick="location.href='index'">문제
			뿌셔뿌셔!!</span>
	</div>
	<h1 class="bookTitle etcTitle">국어 문제집</h1>
	<hr class="pageLine">
	<form action="resultKorBook" method="post" class="BookForm">
		<div class="problemWrap" th:each="list : ${korList}">
			<span class="listNo" th:text="${list.kor_no} + '. 글을 읽고, 빈칸에 알맞은 낱말을 쓰시오.'"></span>
			<br>
			<img class="listImg" th:src="${list.kor_img}">
			<br>
			<div class="problemSection">
			<span class="listTitle"
				  th:text="${list.kor_title}">
			</span>
			<br>
			
			<label
				th:for="${list.kor_inputname}">
				<span class="no">1.</span>
				<input type="radio"
					   th:name="${list.kor_inputname}"
					   th:value="${list.kor_items1}">
				<span th:text="${list.kor_items1}"></span>
			</label>
			<br>
			<label th:for="${list.kor_inputname}">
				<span class="no">2.</span>
				<input
					type="radio" 
					th:name="${list.kor_inputname}"
					th:value="${list.kor_items2}">
				<span th:text="${list.kor_items2}"></span>
			</label>
			<br>
			<label th:for="${list.kor_inputname}">
				<span class="no">3.</span>
				<input
					type="radio" 
					th:name="${list.kor_inputname}"
					th:value="${list.kor_items3}">
				<span th:text="${list.kor_items3}"></span>
			</label>
			<br>
			<label th:for="${list.kor_inputname}">
				<span class="no">4.</span>
				<input
					type="radio" 
					th:name="${list.kor_inputname}"
					th:value="${list.kor_items4}">
				<span th:text="${list.kor_items4}"></span>
			</label>
			<br>
			<label th:for="${list.kor_inputname}">
				<span class="no">5.</span>
				<input
					type="radio" 
					th:name="${list.kor_inputname}"
					th:value="${list.kor_items5}">
				<span th:text="${list.kor_items5}"></span>
			</label>
			<br>
			</div>
		</div>
		<div class="bookFormBtn">
			<input type="submit" value="정답제출"> 
				<input type="reset" value="reset">
		</div>
	</form>
</body>
</html>