<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>마이 페이지</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body style="text-align: center; margin-top: 100px;">
	<div>
	<span class="teamTitle" onclick="location.href='index'">문제
			뿌셔뿌셔!!</span>
		<div class="sign_login_wrap">
			<h2 class="sign_login_Header">마이 페이지</h2>
			<table style="margin-left: auto; margin-right: auto;">
				<tr>
					<th style="font-weight:bold" scope="col">이름</th>
					<td scope="col" th:text="${session.login_number.name}"></td>
				</tr>
				<tr>
					<th style="font-weight:bold" scope="col">주소</th>
					<td scope="col" th:text="${session.login_number.address}"></td>
				</tr>
				<tr>
					<th style="font-weight:bold" scope="col">이메일</th>
					<td scope="col" th:text="${session.login_number.email}"></td>
				</tr>
			</table>
			<br> <br>
			<hr>
			<br> <br> 문제 푼 정보 <br> <br> <br>
			<hr>
			<div class="btn">
				<a class="sign_login_Button"
					th:href="@{/memberchangeControl(id = ${session.login_number.id})}">회원 정보 변경</a>
				<br> <br>
				<a class="sign_login_Button"
					th:href="@{/deletemember(id = ${session.login_number.id})}"
					th:if="${session.login_number != null}">회원 탈퇴</a>
			</div>
		</div>
		<br> <br>
	</div>
</body>
</html>