<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style/style.css">
<title>결과 페이지</title>
</head>
<body>
<div class="title_login_search">
		<img class="logo" src="img/logo/logo.png"> <span
			class="teamTitle indexTitle" onclick="location.href='index'">문제
			뿌셔뿌셔!!</span>
	</div>
	<h1 class="bookTitle etcTitle">국어 결과</h1>
	<hr class="pageLine">
	<table class="resultTable">
		<tr>
			<th>학년</th>
			<th>과목</th>
			<th>정답/문항수</th>
			<th>틀린 문항</th>
			<th>시험결과</th>
		</tr>
		<tr>
			<td>초등학생</td>
			<td>국어</td>
			<td th:text = "${success} + ' / ' + ${list.size()}"></td>
			<td>
				<a th:href = "@{/wrongKorPage(wrong = ${wrong})}" th:text = "${wrong}"></a>
			</td>
			<td th:text = "${examAnswer}"></td>
		</tr>
	</table>
</body>
</html>