@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: "Jua", sans-serif;
  	font-style: normal;
 
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 5rem;
     font-family: "Black Han Sans", sans-serif;
  	font-weight: 10;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    
}

.bt_wrap button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid  #f56a6a;
    border-radius: 2px;
    font-size: 1.4rem;
    background-color: #fff;
    border-radius:  10px;
   
  
}

.bt_wrap button:first-child {
    margin-left: 0;
}

.bt_wrap button.on {
    background:  #f56a6a;
    color: #fff;
    border-radius:  10px;
}



.board_list {
    width: 100%;
    border-top: 2px solid  #f56a6a;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid  #f56a6a;
}

.board_list > div:last-child {
    border-bottom: 1px solid  #f56a6a;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
    
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #f56a6a;
    background:  #f56a6a;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid  #f56a6a;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed  #f56a6a;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #f56a6a;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background:  #f56a6a;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dt {

}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid  #f56a6a;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_write {
    border-top: 2px solid  #f56a6a;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid  #f56a6a;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid  #f56a6a;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid  #f56a6a;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
/* 寃��깋諛� */
#board-search .search-window {
    padding: 15px 0;
    background-color: #fff;
}
#board-search .search-window .search-wrap {
    position: relative;
/*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
}
#board-search .search-window .search-wrap input {
	font-family: "Jua", sans-serif;

  font-style: normal;
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #f56a6a;
}
#board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
}
  .btn-dark {
  font-family: "Jua", sans-serif;

  font-style: normal;
    background: #f56a6a;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #f56a6a;
    border-color: #f56a6a;
    color: #fff;
  }
  
  .btn-dark {
    background: #333;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #f56a6a;
    border-color:#f56a6a;
    color: #fff;
  }

#commentText {
    	width: 990px;
    	height: 100px;
    	margin-left: 800px;
    	border: 1px solid  #f56a6a;
    	font-size: 2.5rem;
    	}
    	
h4{

font-size: 2.0rem;
position: relative; left: 520px; bottom: 10px;

}

ul,
li {
	list-style: none;
}

.comment {
	border-radius:  20px;
	border: 2px solid #f56a6a;
	font-size: 15px;
	display: flex;
	
	flex-wrap: nowrap;
	padding: 30px;
	width: 850px;
	margin:  15px;
	position: relative; left: 500px;
}
.comment > li {
	margin-top: 20px;
}

.comment > li:nth-child(1) {
	margin: 0px;
}
.comment-row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.comment-row {
	margin-top: 20px;
	width: 100%;
}
.comment-row > li:nth-child(2) {
	flex-shrick: 0;
	flex-grow: 1;
	padding-left: 25px;
	z-index: 1;
	width: 100%;
}
.comment-row > li:nth-child(2) {
	width: 85px;
}
.comment-form > form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.comment-form > form > h4 {
	width: 100%;
	margin: 14px 0 14px 0;
}
.comment-content {
	cursor: pointer;
	word-break: break-all;
	padding-right: 25px;
}
.ps_box {
	border-radius:  20px;
	
	display: block;
	position: relative;
	width: 900px;
	height: 51px;
	border: solid 2px #dadada;
	padding: 10px 14px 10px 14px;
	background: #fff;
	box-sizing: border-box;
	position: relative; left:520px;
}
.px_box > input {
	outline: none;
}

.int {
	display: block;
	position: relative;
	width: 100%;
	height: 29px;
	padding-right: 25px;
	line-height: 29px;
	border: none;
	background: #fff;
	font-size: 15px;
	box-sizing: border-box;
	z-index: 10;
}

.commentsubmit {
	border-radius:  10px;
	position: relative; right:580px;
	width: 5%;
	padding: 18px 0 16px;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	background: #f56a6a;
	color: #fff;
	font-size: 14px;
}
