@charset "UTF-8";
@import "reset.css";
@import "main.css";
@import "kor.css";
@import "search.css";
@import "detail.css";
@import "slider.css";
@import "login.css";
@import "result.css";
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

body{
	font-family: 'Sunflower', sans-serif;
	height: 100vh;
}
.hiddenAnswer{
	display: none;
}