<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/style.css">
</head>

<body>
<span class="teamTitle" onclick="location.href='index'">문제 뿌셔뿌셔</span>
	<div class="detailSection">
		<video th:src="${item.videosrc}" controls="controls"></video>
		<span th:text = "'제목 : '+${item.title}"></span>
		<span th:text = "'강의대상 : ' + ${item.target}"></span>
		<span th:text = "'강의난이도 : ' + ${item.courselevel}"></span>
		<span th:text = "'설명 : ' + ${item.description}"></span>
	</div>
</body>
</html>