<!DOCTYPE HTML>
<html>
	<head>
		<title>검색결과 페이지</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="style/main.css" />
		<link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	</head>
	<body class="is-preload">
		
		<!-- Wrapper -->
					<div id="wrapper">
						<div class="login_search_section">
							<div th:if="${session.login_number == null}" class="signin">
								<span class = "signinBtn" style="margin-right: 50px" onclick="location.href='signin'">회원가입</span>
								<span class = "signinBtn" style="margin-right: 30px" onclick="location.href='login'">로그인</span>
								</div>
						<div th:if ="${session.login_number != null}">
							<span th:text = "${session.login_number.id} + ' 님 환영합니다.'"></span>
							<span class="myPage">마이페이지</span>
							<a th:href="@{logoutControl}"
							th:text=" '로그아웃' "></a>
							<a th:if="${session.login_member != null}"></a>
							
						</div>
					</div>
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<div class="backgroundimg"></div>
							<!-- Header -->
								<header id="header">
									<a href="index" class="logo"><strong>뿌셔뿌셔</strong> by 김미정 성현 현기원</a>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>검색결과</h1>
											
										</header>
                                        <hr class="pageLine">
                                        <div class="searchResult">
                                            <p style="font-size: 35px;  padding: 0;" th:if="${list == null}" th:text="'검색된 내용이 없습니다.'">
                                            <table th:if="${list != null}">
                                                <tr>
                                                    <th style="font-size: 30px; ">제목</th>
                                                    <th style="font-size: 30px; ">수강대상</th>
                                                    <th style="font-size: 30px; ">강좌수준</th>
                                                    <th style="font-size: 30px; ">강좌설명</th>
                                                </tr>
                                                <tr th:each="list : ${list}">
                                                    <td><a th:href="@{/detailcourse(title=${list.title})}"
                                                        th:text="${list.title}"></a></td>
                                                    <td th:text="${list.target}"></td>
                                                    <td th:text="${list.courselevel}"></td>
                                                    <td th:text="${list.description}"></td>
                                                </tr>
                                            </table>
                                        </div>
								</section>
								</br>
									<!-- 광고 배너 -->
								<div class="slider__wrapper">
									<div class="swiper best-txt-slider">
									  <div class="swiper-wrapper">
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>초등 영문법 777!<br />나의 첫 영문법 파트너</p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>초등학교 6학년을 위한 고 레벨</p>
												<span class="eng"
												  >Grammar for six grade</span
												>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>
												홈스쿨 초등 영독해<br />
												LEVEL 1
											  </p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>초등학교 저학년을 위한 수업</p>
												<span class="eng">Grammar for 1st grade</span>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>
												만점왕 국어<br />
												6학년 1학기
											  </p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>초등학생 고학년을 위한 국어 수업</p>
												<span class="eng">Korean lecture for high level</span>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>
												수학 기적의 문제 해결법<br />
												6학년 2학기 강민정 teacher
											  </p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>초등학교 고학년을 위한 수학 강의!</p>
												<span class="eng"
												  >Math lecture for high level</span
												>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>초등 만점왕<br />6학년 2학기 김정윤 teacher</p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>초등학교 6학년을 위한 수학 강의!</p>
												<span class="eng"
												  >Math lecture for 6st grade</span
												>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>만점왕 국어<br />2학년 2학기</p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>초등학교 2학년을 위한 국어 강의!</p>
												<span class="eng"
												  >Korean lecture for 2st grade</span
												>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
										<div class="swiper-slide">
										  <div class="info">
											<div class="desc">
											  <p>겨울 방학 생활<br />6학년</p>
											</div>
											<div class="tl">
											  <div class="name">
												<p>4주 동안 알차게 겨울방학 보내기!</p>
												<span class="eng"
												  >Enjoy your winter vacation for 4 weeks</span
												>
											  </div>
											  <a href="#" class="shop"><span>Lecture now</span></a>
											</div>
										  </div>
										</div>
									  </div>
									</div>
									<div class="swiper best-slider">
									  <div class="swiper-wrapper">
										<div class="swiper-slide product01">
										  <a href="#"><span class="hidden">초등영문법 777</span></a>
										</div>
										<div class="swiper-slide product02">
										  <a href="#"><span class="hidden">홈스쿨 초등 영독해</span></a>
										</div>
										<div class="swiper-slide product03">
										  <a href="#"><span class="hidden">만점왕 국어 6-1</span></a>
										</div>
										<div class="swiper-slide product04">
										  <a href="#"><span class="hidden">수학 기적의 문제 해결법</span></a>
										</div>
										<div class="swiper-slide product05">
										  <a href="#"><span class="hidden">만점왕 수학</span></a>
										</div>
										<div class="swiper-slide product06">
										  <a href="#"><span class="hidden">만점왕 국어 2-2</span></a>
										</div>
										<div class="swiper-slide product07">
										  <a href="#"><span class="hidden">겨울 방학 생활</span></a>
										</div>
									  </div>
									  <!-- <div class="swiper-pagination"></div> -->
									  <div class="swiper-button-prev"></div>
									  <div class="swiper-button-next"></div>
									</div>
								  </div>
							<!-- Section -->
							<section>
									<header class="major">
										<h2>문제 풀기</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="img/indexImg/light_kor_ad.jpg" alt="" /></a>
											<h3>가볍게 워밍업!</h3>
											<p>국어</p>
											<ul class="actions">
												<li><a class="button problemKorBtn">solve Korean problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/light_math_ad.jpg" alt="" /></a>
											<h3>가볍게 워밍업!</h3>
											<p>수학</p>
											<ul class="actions">
												<li><a class="button problemMathBtn">solve math problem</a></li>
											</ul>
										</article>									
										<article>
											<a href="#" class="image"><img src="img/indexImg/light_eng_ad.jpg" alt="" /></a>
											<h3>가볍게 워밍업!</h3>
											<p>영어</p>
											<ul class="actions">
												<li><a class="button problemEngBtn">solve English problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/heavy_kor_ad.jpg" alt="" /></a>
											<h3>무겁게 워밍업!</h3>
											<p>국어</p>
											<ul class="actions">
												<li><a href="#" class="button problemKorUpperBtn">solve Korean problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/heavy_math_ad.jpg" alt="" /></a>
											<h3>무겁게 워밍업!</h3>
											<p>수학</p>
											<ul class="actions">
												<li><a href="#" class="button problemMathUpperBtn">solve math problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/heavy_eng_ad.jpg" alt="" /></a>
											<h3>무겁게 워밍업!</h3>
											<p>영어</p>
											<ul class="actions">
												<li><a href="#" class="button problemEngUpperBtn">solve English problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/kor_ad.jpg" alt="" /></a>
											<h3>빡세게 워밍업!</h3>
											<p>국어</p>
											<ul class="actions">
												<li><a href="#" class="button problemKorMiddleBtn">solve Korean problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/math_ad.jpg" alt="" /></a>
											<h3>빡세게 워밍업!</h3>
											<p>수학</p>
											<ul class="actions">
												<li><a href="#" class="button problemMathMiddleBtn">solve math problem</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/eng_ad.jpg" alt="" /></a>
											<h3>빡세게 워밍업!</h3>
											<p>영어</p>
											<ul class="actions">
												<li><a href="#" class="button problemEngMiddleBtn">solve English problem</a></li>
											</ul>
										</article>
									
									</div>
								</section>

						</div>
					</div>


				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="get" action="searchPage">
										<input type="text" id="search" name="search"
										placeholder="검색어를 입력하세요">
										<button class="searchBtn"></button>
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>메뉴</h2>
									</header>
									<ul>
										<li>
											<span class="opener">내정보</span>
										<ul>
											<li>
												<a th:if="${session.indexCk == true}" th:href = "@{./memberchangeControl(id = ${session.login_number.id})}">정보 수정</a>
												<a class="loginError" th:if="${session.indexCk == null}">정보 수정</a>
											</li>
											<li><a class="payError">결제 하기</a></li>
											<li><a th:if="${session.indexCk == true}" th:href = "@{./wrongsolve(id = ${session.login_number.id})}">오답 풀이</a></li>
												<a class="wrongError" th:if="${session.indexCk == null}">오답풀이</a>
											
											 <li>
                                       <a th:if="${session.indexCk == true}" th:href = "@{./deletememberControl(id = ${session.login_number.id})}">회원 탈퇴</a>
                                       <a class="deleteError" th:if="${session.indexCk == null}">회원 탈퇴</a>
                                    </li>
									
											
										</ul>
										</li>
										<li>
											<span class="opener">커뮤니티</span>
											<ul>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./board(id = ${session.login_number.id})}">게시판</a></li>
													<a class="boardError" th:if="${session.indexCk == null}">게시판</a>
												<li><a href="usernotice">공지사항</a></li>
                                               
											
											</ul>
										</li>
										<li>
											<span class="opener">우리 한 번 놀아보자</span>
											<ul>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./wordreplay(id = ${session.login_number.id})}">다같이 붙어보자 끝말잇기</a></li>
													<a class="wordError" th:if="${session.indexCk == null}">다같이 붙어보자 끝말잇기</a>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./baseballgame(id = ${session.login_number.id})}">머리가 말랑해지는 숫자 야구</a></li>
													<a class="ballError" th:if="${session.indexCk == null}">머리가 말랑해지는 숫자 야구</a>
												<li><a href="#">사과는 애플 영단어 맞추기</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">고객 지원</span>
											<ul>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./customerQna(id = ${session.login_number.id})}">고객 문의</a></li>
													<a class="QnaError" th:if="${session.indexCk == null}">고객 문의</a>
											</ul>
										</li>
									
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>해주세요</h2>
									</header>
									<div class="mini-posts">
										<article >
											<a href="#" class="image"><img src="img/indexImg/godimg.jpg" alt="" /></a>
											<strong>문제를 풀어주세요</strong><br>
											<p>국어/영어/수학</p>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/boardimg.jpg" alt="" /></a>
											<strong>소통왕이 되어주세요</strong><br>
											<p>게시판으로 순간이동</p>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/questionimg.jpg" alt="" /></a>
											<strong>문제가 생겼어요</strong><br>
											<p>문의 하러 가기</p>
										</article>
									</div>
									
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>회사 소개</h2>
									</header>
									<p>안녕하세요. 이 사이트는 현기원 성현 김미정의 <strong>피, 땀, 눈물</strong>로 이루어진 학생 문제 제공 사이트입니다. 저희 생각보다 많이 힘들었습니다.....   귀엽게. 예쁘게 봐주세요. 아잉뿌잉뀨잉</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">2303110239@office.kopo.ac.kr</a></li>
										<li class="icon solid fa-envelope"><a href="#">2303110248@office.kopo.ac.kr</a></li>
										<li class="icon solid fa-envelope"><a href="#">2303110266@office.kopo.ac.kr</a></li>
										<li class="icon solid fa-phone">(031) 739-4000</li>
										<li class="icon solid fa-home">경기도 성남시 수정구 수정로 398 드림관 2층 데이터 분석 실습실<br />
										</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; (주) 뿌셔뿌셔 Corp. All rights reserved. <br>Design: <a href="https://html5up.net">성현 & HTML5UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="https://kit.fontawesome.com/86bc6866a5.js"
			crossorigin="anonymous"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			
			<script th:inline="javascript">
				let indexCk = false;
				indexCk = [[${session.indexCk}]];
				console.log(indexCk);
				
				const word = document.querySelector(".wordError");
				const ball = document.querySelector(".ballError");
				const wrong = document.querySelector(".wrongError");
				const qna = document.querySelector(".QnaError");
				const board = document.querySelector(".boardError");
				
				const pay = document.querySelector(".payError");
				const gender = document.querySelector(".girlandboy");
				
				const problemKorBtn = document.querySelector(".problemKorBtn");
				const problemMathBtn = document.querySelector(".problemMathBtn");
				const problemEngBtn = document.querySelector(".problemEngBtn");
				
				const problemKorUpperBtn = document.querySelector(".problemKorUpperBtn");
				const problemMathUpperBtn = document.querySelector(".problemMathUpperBtn");
				const problemEngUpperBtn = document.querySelector(".problemEngUpperBtn");
				
				const problemKorMiddleBtn = document.querySelector(".problemKorMiddleBtn");
				const problemMathMiddleBtn = document.querySelector(".problemMathMiddleBtn");
				const problemEngMiddleBtn = document.querySelector(".problemEngMiddleBtn");
				
				const loginError = document.querySelector(".loginError");
				const deleteError = document.querySelector(".deleteError");
				const mypage = document.querySelector(".myPage");
				
				const bestTxtSwiper = new Swiper(".best-txt-slider", {
				  autoplay: {
					delay: 4000,
					disableOnInteraction: false,
				  },
				  effect: "fade",
				  loop: true,
				  allowTouchMove: false,
				});
			

				const bestSwiper = new Swiper(".best-slider", {
				  autoplay: {
					delay: 4000, // bestTxtSwiper와 동일하게 설정
					disableOnInteraction: false,
				  },
				  slidesPerView: 1.4,
				  loop: true,
				  navigation: {
					nextEl: ".best-slider .swiper-button-next",
					prevEl: ".best-slider .swiper-button-prev",
				  },
				  on: {
					slideChangeTransitionStart: function () {
					  const realIndex = bestSwiper.realIndex;
					  let targetIndex = realIndex;
			
					  bestTxtSwiper.slideTo(targetIndex);
					  bestTxtSwiper.update(); // swiper 업데이트
					},
					slideNextTransitionStart: function () {
					  bestTxtSwiper.autoplay.stop();
					},
					slidePrevTransitionStart: function () {
					  bestTxtSwiper.autoplay.stop();
					},
					slideChangeTransitionEnd: function () {
					  bestTxtSwiper.autoplay.start();
					},
				  },
				});
				
				const clickFunc = () => {
					
					
					if(indexCk){
						let id = [[${session.loginId}]];
						location.href = `/myPage?id=${id}`
					}
					else{
						console.log('마이페이지 안가짐');
					}
				}
				
				const clickProblemKorBtn = () =>{
					if(indexCk === true){
						location.href = 'korBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemEngBtn = () =>{
					if(indexCk === true){
						location.href = 'engBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemMathBtn = () =>{
					if(indexCk === true){
						location.href = 'mathBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemKorUpperBtn = () =>{
					if(indexCk === true){
						location.href = 'korUpperBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemMathUpperBtn = () =>{
					if(indexCk === true){
						location.href = 'mathUpperBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemEngUpperBtn = () =>{
					if(indexCk === true){
						location.href = 'engUpperBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				
				const clickProblemKorMiddleBtn = () =>{
					if(indexCk === true){
						location.href = 'korMiddleBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemMathMiddleBtn = () =>{
					if(indexCk === true){
						location.href = 'mathMiddleBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				const clickProblemEngMiddleBtn = () =>{
					if(indexCk === true){
						location.href = 'engMiddleBook';					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				
				const clickpayment = () =>{
					if(indexCk === true){
						let id = [[${session.loginId}]];
						location.href = `payment?id=${id}`;					
					}
					else{
						alert('로그인 하셈!!!');
					}
				}
				let sex = [[${login_boyandgirl}]]
				
				if(sex==="여") {
					gender.src = "./img/indexImg/girl.png"
				}else if(sex==="남") {
					gender.src = "./img/indexImg/boy.png"
				}
				
				
				if(!indexCk){
					const clickloginError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}					
					loginError.addEventListener('click', clickloginError);
				}
				
				if(!indexCk){
					const clickdeleteError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}					
					deleteError.addEventListener('click', clickdeleteError);
				}
				
				if(indexCk){
					mypage.addEventListener('click', clickFunc);
					pay.addEventListener('click', clickpayment);
				}
				
				if(!indexCk) {
					const clickpayError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}
					pay.addEventListener('click', clickpayError);
				}
				
				if(!indexCk) {
					const clickboardError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}
					board.addEventListener('click', clickboardError);
				}
				
				if(!indexCk) {
					const clickQnaError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}
					qna.addEventListener('click', clickQnaError);
				}
				
				if(!indexCk) {
					const clickwrongError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}
					wrong.addEventListener('click', clickwrongError);
				}
				
				if(!indexCk) {
					const clickwordError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}
					word.addEventListener('click', clickwordError);
				}
				
				if(!indexCk) {
					const clickballError = () => {
						alert('서비스를 이용하고 싶으시면 로그인 해주세요.');
					}
					ball.addEventListener('click', clickballError);
				}
				
				
				problemKorBtn.addEventListener('click', clickProblemKorBtn);			
				problemEngBtn.addEventListener('click', clickProblemEngBtn);			
				problemMathBtn.addEventListener('click', clickProblemMathBtn);
				
				problemKorUpperBtn.addEventListener('click', clickProblemKorUpperBtn);
				problemMathUpperBtn.addEventListener('click', clickProblemMathUpperBtn);
				problemEngUpperBtn.addEventListener('click', clickProblemEngUpperBtn);
				
				problemKorMiddleBtn.addEventListener('click', clickProblemKorMiddleBtn);
				problemMathMiddleBtn.addEventListener('click', clickProblemMathMiddleBtn);
				problemEngMiddleBtn.addEventListener('click', clickProblemEngMiddleBtn);
			  </script>
	  
	</body>
</html>