<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>검색 페이지</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<div class="title_login_search">
		<span class="teamTitle indexTitle" onclick="location.href='index'">문제 뿌셔뿌셔!!</span>
		<form class="searchForm" method="get" action="searchPage">
			<input type="text" id="search" name="search" placeholder="검색어를 입력하세요">
			<button>
				<i class="fa-solid fa-magnifying-glass fa-2xl"></i>
			</button>
		</form>
	</div>
	<h1 class="bookTitle etcTitle">검색 결과</h1>
	<hr class="pageLine">
	<div class="searchResult">
		<p th:if="${list == null}" th:text="'검색된 내용이 없습니다.'">
		<table th:if="${list != null}">
			<tr>
				<th>제목</th>
				<th>수강대상</th>
				<th>강좌수준</th>
				<th>강좌설명</th>
			</tr>
			<tr th:each="list : ${list}">
				<td><a th:href="@{/detailcourse(title=${list.title})}"
					th:text="${list.title}"></a></td>
				<td th:text="${list.target}"></td>
				<td th:text="${list.courselevel}"></td>
				<td th:text="${list.description}"></td>
			</tr>
		</table>
	</div>
</body>
</html>