<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>영어 문제집</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>
<div class="commonHederBar">
		<span class="teamTitle indexTitle commonLogo" onclick="location.href='index'">문제 뿌셔뿌셔!!</span>
		<div class="commonHederBar__info">
				<div th:if="${session.login_number == null}" class="signin">
					<span class = "signinBtn" style="margin-right: 50px" onclick="location.href='signin'">회원가입</span>
					<span class = "signinBtn" style="margin-right: 30px" onclick="location.href='login'">로그인</span>
					</div>
			<div th:if ="${session.login_number != null}">
				<span th:text = "${session.login_number.id} + ' 님 환영합니다.'"></span>
				<span class="myPage" onclick="location.href='myPage'">마이페이지</span>
				<a th:href="@{logoutControl}"
				th:text=" '로그아웃' "></a>
				<a th:if="${session.login_member != null}"></a>
			</div>
		</div>
			
</div>
	<h1 class="bookTitle etcTitle">영어 문제집</h1>
	<hr class="pageLine">
	<form action="resultEngMiddleBook" method="post" class="BookForm">
		<input type="hidden" name = "id" th:value = "${session.login_number.id}">
		<div class="problemWrap" th:each="list : ${engList}">
			<span class="listNo" th:text="${list.eng_no} + '. 글을 읽고 문제를 푸시오.'"></span>
			<br>
			<div class="problemSection">
			<span class="listTitle"
				  th:text="${list.eng_title}">
			</span>
			<br>
			<label
				th:for="${list.eng_inputname}">
				<span class="no">1.</span>
				<input type="radio"
					   th:name="${list.eng_inputname}"
					   th:value="${list.eng_items1}">
				<span th:text="${list.eng_items1}"></span>
			</label>
			<br>
			<label th:for="${list.eng_inputname}">
				<span class="no">2.</span>
				<input
					type="radio" 
					th:name="${list.eng_inputname}"
					th:value="${list.eng_items2}">
				<span th:text="${list.eng_items2}"></span>
			</label>
			<br>
			<label th:for="${list.eng_inputname}">
				<span class="no">3.</span>
				<input
					type="radio" 
					th:name="${list.eng_inputname}"
					th:value="${list.eng_items3}">
				<span th:text="${list.eng_items3}"></span>
			</label>
			<br>
			<label th:for="${list.eng_inputname}">
				<span class="no">4.</span>
				<input
					type="radio" 
					th:name="${list.eng_inputname}"
					th:value="${list.eng_items4}">
				<span th:text="${list.eng_items4}"></span>
			</label>
			<br>
			<label th:for="${list.eng_inputname}">
				<span class="no">5.</span>
				<input
					type="radio" 
					th:name="${list.eng_inputname}"
					th:value="${list.eng_items5}">
				<span th:text="${list.eng_items5}"></span>
			</label>
			<br>
			</div>
		</div>
		<div class="bookFormBtn">
			<button class="sign_login_Button commonbtn book_commonBtn" type="submit">정답제출</button>
			<button class="sign_login_Button commonbtn book_commonBtn" type="reset">RESET</button>
		</div>
	</form>
</body>
</html>