<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style/style.css">
<title>결과 페이지</title>
</head>
<body>
<div class="commonHederBar">
		<span class="teamTitle indexTitle commonLogo" onclick="location.href='index'">문제 뿌셔뿌셔!!</span>
		<div class="commonHederBar__info">
				<div th:if="${session.login_number == null}" class="signin">
					<span class = "signinBtn" style="margin-right: 50px" onclick="location.href='signin'">회원가입</span>
					<span class = "signinBtn" style="margin-right: 30px" onclick="location.href='login'">로그인</span>
					</div>
			<div th:if ="${session.login_number != null}">
				<span th:text = "${session.login_number.id} + ' 님 환영합니다.'"></span>
				<span class="myPage" onclick="location.href='myPage'">마이페이지</span>
				<a th:href="@{logoutControl}"
				th:text=" '로그아웃' "></a>
				<a th:if="${session.login_member != null}"></a>
			</div>
		</div>
			
	</div>
	<h1 class="bookTitle etcTitle">국어 결과</h1>
	<hr class="pageLine">
	<table class="resultTable">
		<tr>
			<th>학년</th>
			<th>과목</th>
			<th>정답/문항수</th>
			<th>틀린 문항</th>
			<th>시험결과</th>
		</tr>
		<tr>
			<td>중학생</td>
			<td>국어</td>
			<td th:text = "${success} + ' / ' + ${list.size()}"></td>
			<td>
				<a th:href = "@{/wrongKorMiddlePage(wrong = ${wrong})}" th:text = "${wrong}"></a>
			</td>
			<td th:text = "${examAnswer}"></td>
		</tr>
	</table>
</body>
</html>