<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>
<div class="div1">
<form>
	<label for ="solve" class="label">오답 풀이</label>
	<select name="solves" id="solve" class="select">
		<option value="light_kor">가볍게 워밍업! 국어</option>
		<option value="light_math">가볍게 워밍업! 수학</option>
		<option value="light_eng">가볍게 워밍업! 영어</option>
		<option value="heavy_kor">무겁게 워밍업! 국어</option>
		<option value="heavy_math">무겁게 워밍업! 수학</option>
		<option value="heavy_eng">무겁게 워밍업! 영어</option>
		<option value="hard_kor">빡세게 워밍업! 국어</option>
		<option value="hard_math">빡세게 워밍업! 수학</option>
		<option value="hard_eng">빡세게 워밍업! 영어</option>
	</select>
	
	<input class = "submit" type="button" value="submit"></input>
		
</form>
<div class="div2">
<img class="kor_01"></img>
<img class="kor_02"></img>
<img class="kor_03"></img>
<img class="kor_04"></img>
<img class="kor_05"></img>
</div>
</div>
<script>
	const div = document.querySelector(".div2");
	const select = document.getElementById("solve");
	const submit = document.querySelector(".submit");
	const kor_01 = document.querySelector(".kor_01");
	const kor_02 = document.querySelector(".kor_02");
	const kor_03 = document.querySelector(".kor_03");
	const kor_04 = document.querySelector(".kor_04");
	const kor_05 = document.querySelector(".kor_05");
	const submits = () => {
		
		if(select.value==="light_kor") {
			kor_01.src = "./img/wrongimg/001.jpg"
			kor_02.src = "./img/wrongimg/002.jpg"
			kor_03.src = "./img/wrongimg/003.jpg"
			kor_04.src = "./img/wrongimg/004.jpg"
			kor_05.src = "./img/wrongimg/005.jpg"
			
		}
	}
	submit.addEventListener("click", submits);
	
	

</script>
</body>
</html>