<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/style.css"> 
</head>
<body style="text-align: center; margin-top: 100px;">

	<h2>승인 페이지</h2>
	<form action="levelupControl" method="post">
	<table >
		<tr>
			<th style="text-align: center">
				이름
			</th>
			<th style="text-align: center">
				등급
			</th>
		
		</tr>
	<div th:each="list:${memberlist}">
		<tr th:if="${list.users=='일반 유저 승인 대기 중'||list.users=='프리미엄 유저 승인 대기 중'}" >
			<td >
				
					<span  th:text="${list.name}">
					</span>
					
			</td>
			<td>
					<span  th:text="${list.users}">
					</span>
				
			</td>
		</tr>
	</div>
	</table>
	<button type="submit" class="sign_login_Button">승인</button>
		
	</form>
	<span class="teamTitle" onclick="location.href='admin' "style="position: fixed; left:1700px; top: 0px;">문제 뿌셔뿌셔!!</span>
	

</body>
</html>