<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/login.css">
</head>
<body>

<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="get" action="searchPage">
										<input type="text" id="search" name="search"
										placeholder="검색어를 입력하세요">
										<button class="searchBtn"></button>
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>메뉴</h2>
									</header>
									<ul>
										<li>
											<span class="opener">내정보</span>
										<ul>
											<li>
												<a th:if="${session.indexCk == true}" th:href = "@{./memberchangeControl(id = ${session.login_number.id})}">정보 수정</a>
												<a class="loginError" th:if="${session.indexCk == null}">정보 수정</a>
											</li>
											<li><a class="payError">결제 하기</a></li>
											<li><a th:if="${session.indexCk == true}" th:href = "@{./wrongsolve(id = ${session.login_number.id})}">오답 풀이</a></li>
												<a class="wrongError" th:if="${session.indexCk == null}">오답풀이</a>
											
											 <li>
                                       <a th:if="${session.indexCk == true}" th:href = "@{./deletememberControl(id = ${session.login_number.id})}">회원 탈퇴</a>
                                       <a class="deleteError" th:if="${session.indexCk == null}">회원 탈퇴</a>
                                    </li>
									
											
										</ul>
										</li>
										<li>
											<span class="opener">커뮤니티</span>
											<ul>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./board(id = ${session.login_number.id})}">게시판</a></li>
													<a class="boardError" th:if="${session.indexCk == null}">게시판</a>
												<li><a href="usernotice">공지사항</a></li>
                                               
											
											</ul>
										</li>
										<li>
											<span class="opener">우리 한 번 놀아보자</span>
											<ul>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./wordreplay(id = ${session.login_number.id})}">다같이 붙어보자 끝말잇기</a></li>
													<a class="wordError" th:if="${session.indexCk == null}">다같이 붙어보자 끝말잇기</a>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./baseballgame(id = ${session.login_number.id})}">머리가 말랑해지는 숫자 야구</a></li>
													<a class="ballError" th:if="${session.indexCk == null}">머리가 말랑해지는 숫자 야구</a>
												<li><a href="#">사과는 애플 영단어 맞추기</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">고객 지원</span>
											<ul>
												<li><a th:if="${session.indexCk == true}" th:href = "@{./customerQna(id = ${session.login_number.id})}">고객 문의</a></li>
													<a class="QnaError" th:if="${session.indexCk == null}">고객 문의</a>
											</ul>
										</li>
									
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>해주세요</h2>
									</header>
									<div class="mini-posts">
										<article >
											<a href="#" class="image"><img src="img/indexImg/godimg.jpg" alt="" /></a>
											<strong>문제를 풀어주세요</strong><br>
											<p>국어/영어/수학</p>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/boardimg.jpg" alt="" /></a>
											<strong>소통왕이 되어주세요</strong><br>
											<p>게시판으로 순간이동</p>
										</article>
										<article>
											<a href="#" class="image"><img src="img/indexImg/questionimg.jpg" alt="" /></a>
											<strong>문제가 생겼어요</strong><br>
											<p>문의 하러 가기</p>
										</article>
									</div>
									
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>회사 소개</h2>
									</header>
									<p>안녕하세요. 이 사이트는 현기원 성현 김미정의 <strong>피, 땀, 눈물</strong>로 이루어진 학생 문제 제공 사이트입니다. 저희 생각보다 많이 힘들었습니다.....   귀엽게. 예쁘게 봐주세요. 아잉뿌잉뀨잉</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">2303110239@office.kopo.ac.kr</a></li>
										<li class="icon solid fa-envelope"><a href="#">2303110248@office.kopo.ac.kr</a></li>
										<li class="icon solid fa-envelope"><a href="#">2303110266@office.kopo.ac.kr</a></li>
										<li class="icon solid fa-phone">(031) 739-4000</li>
										<li class="icon solid fa-home">경기도 성남시 수정구 수정로 398 드림관 2층 데이터 분석 실습실<br />
										</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; (주) 뿌셔뿌셔 Corp. All rights reserved. <br>Design: <a href="https://html5up.net">성현 & HTML5UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>
	<div class="sign_login_wrap" style="position: fixed; top: 480px; left: 1050px;">
		<div class="signForm" style="position:fixed; bottom: 300px; left: 100px;">
			<h2 class="sign_login_Header">회원 탈퇴를 위해<br>비밀번호를 입력해 주세요.</h2>
			
			<form class="sign_login_form" action="deletememberControl" method="post" > 
			<p>
			<input type="hidden" th:value="${session.login_number.id}" name="id">
			<input class="pw" type="password" name="pw" placeholder="Password" required="required">
			</p>
			<p>
			<input class="pw2" type="password" name="pw2" placeholder="Check Password" required="required">
			<span class = "check"></span>
			</p>
			<br>
			<br>
			<button class="delete_btn" type="submit">회원 탈퇴 완료</button>
			
			</form>
		</div>
	</div>
</div>
<script th:inline="javascript">

	const pw = document.querySelector(".pw");
	const pw2 = document.querySelector(".pw2");
	const delete_btn = document.querySelector(".delete_btn");
	console.log(delete_btn)
	const funcChange = () => {
		if(pw.value===pw2.value) {
			alert("탈퇴 성공")
		}else {
			alert("비밀번호가 다릅니다.")
			pw.value = "";
			pw2.value = "";
		}
		
		
	}
	delete_btn.addEventListener("click", funcChange);

</script>
<script src="https://kit.fontawesome.com/86bc6866a5.js"
			crossorigin="anonymous"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			
</body>
</html>