<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>

<div>
<span class="teamTitle" onclick="location.href='index'">문제
			뿌셔뿌셔!!</span>
	<div class="sign_login_wrap">
		<div class="signForm">
			<h2 class="sign_login_Header">회원 탈퇴를 위해<br>비밀번호를 입력해 주세요.</h2>
			
			<form class="sign_login_form" action="deletememberControl" method="post"> 
			<p>
			<input type="hidden" th:value="${session.login_number.id}" name="id">
			<input class="pw" type="password" name="pw" placeholder="Password" required="required">
			</p>
			<p>
			<input class="pw2" type="password" name="pw2" placeholder="Check Password" required="required">
			<span class = "check"></span>
			</p>
			<br>
			<br>
			<button class="delete_btn" type="submit">회원 탈퇴 완료</button>
			
			</form>
		</div>
	</div>
</div>
<script th:inline="javascript">

	const pw = document.querySelector(".pw");
	const pw2 = document.querySelector(".pw2");
	const delete_btn = document.querySelector(".delete_btn");
	console.log(delete_btn)
	const funcChange = () => {
		if(pw.value===pw2.value) {
			alert("탈퇴 성공")
			
		}else {
			
			alert("비밀번호가 다릅니다.")
			pw.value = "";
			pw2.value = "";
		}
				
	}
	delete_btn.addEventListener("click", funcChange);

</script>
</body>
</html>