<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>이메일로 계정찾기</title>
<link rel="stylesheet" href="./style/login.css">
<link rel="stylesheet" href="./style/main.css" />
</head>
<body>
<div class="sign_login_wrap">
			<h2 class="sign_login_Header">이메일로 계정 찾기.</h2>
<form class="sign_login_form" action="findemailControl" method="post">
<p>
	<input type="email" name="email" placeholder="이메일을 입력하세요."></p>

	<br>
	<button class = "sign_login_Button" type="submit">계정찾기</button>
	<br>
	<br>
</div>
	
</form>
</body>
</html>