<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>이름으로 계정찾기</title>
<link rel="stylesheet" href="./style/login.css">
<link rel="stylesheet" href="./style/main.css">
</head>
<body>
<div class="sign_login_wrap">
			<h2 class="sign_login_Header">이름으로 계정 찾기.</h2>
<form class="sign_login_form" action="findnameControl" method="post">
<p>
	<input type="text" name="name" placeholder="이름을 입력하세요."></p>
<p>
	<input type="text" name="birth" placeholder="생년월일을 입력하세요."></p>
	<br>
	<button class = "sign_login_Button" type="submit">계정찾기</button>
	<br>
	<br>
	
</form>
</body>
</html>