<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body style="text-align: center; margin-top: 100px;">
<span class="teamTitle" onclick="location.href='index'">문제
			뿌셔뿌셔!!</span>
		<div class="sign_login_wrap" style="position: fixed; top: 480px; left: 1050px;">
			<h2 class="sign_login_Header">승인 페이지</h2>
			<table style="margin-left: auto; margin-right: auto;">
				<tr>
					<th style="font-weight:bold" scope="col">이름</th>
					<td scope="col">이름 나올것임</td>
				</tr>
				<tr>
					<th style="font-weight:bold" scope="col">주소</th>
					<td scope="col">주소 나올것임</td>
				</tr>
				<tr>
					<th style="font-weight:bold" scope="col">user 등급</th>
					<td scope="col">등급 나올거임</td>
				</tr>
			</table>
			<button class="sign_login_Button" type="submit">승인</button>
		</div>
			
	

</body>
</html>