<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style/style.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>계정 찾기</title>
<link rel="stylesheet" href="style/signin.css">

</head>
<body>
	<div>
	<span class="teamTitle" onclick="location.href='index'">문제
			뿌셔뿌셔!!</span>
		<div class="sign_login_wrap">
			<h2 class="sign_login_Header">계정 찾기.</h2>
				<div class="btn">
					<button class="sign_login_Button commonbtn" type="button" onclick="location.href='findname'">이름, 생년 월, 일로 찾기</button>
					<br>
					<br>
					<button class="sign_login_Button commonbtn" type="button" onclick="location.href='findemail'">이메일로 찾기</button>
					<br>
					<br>
					<button class="sign_login_Button commonbtn" type="button" onclick="location.href='findphone'">전화번호로 찾기</button>
				</div>
		</div>
	</div>
	
</body>
</html>